NODE_ENV=development

PORT=3336

FASTIFY_LOGGER=false

# Redmeio credentials
README_API_KEY=
README_API_ID=

# SYSTEM
SYSTEM_TITLE="Inspire Super Portal"
SYSTEM_DESCRIPTION="Inspire Super Portal"
SYSTEM_VERSION=0.0.1

# Fastify Multipart
FASTIFY_LIMITS_FIELD_SIZE=
FASTIFY_LIMITS_FILE_SIZE=

#NEW_RELIC
NEW_RELIC_LICENSE_KEY=
NEW_RELIC_APP_NAME="Inspire Super Portal | Local"
NEW_RELIC_LOGGING_LEVEL=info

# Database
DB_HOST=localhost
DB_PORT=5434
DB_USER=postgres
DB_PASS=postgres
DB_NAME=inspire_super_portal

# Database Test
DB_HOST_TEST=localhost
DB_PORT_TEST=5435
DB_USER_TEST=postgres
DB_PASS_TEST=postgres
DB_NAME_TEST=inspire_super_portal_test


JWT_ACCESS_TOKEN_SECRET=
JWT_ACCESS_TOKEN_EXPIRES_IN=
JWT_ACCESS_TOKEN_ISSUER=

JWT_REFRESH_TOKEN_SECRET=
JWT_REFRESH_TOKEN_EXPIRES_IN=
JWT_REFRESH_TOKEN_ISSUER=
